@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Stock Monitor</h1>
    <p class="lead">Please Signup. Build a list of company you want to monitor their stocks. Then enjoy live feed of stock from our Live Feed page</p>
</div>
